# Energy dependency 2002-2018

(Imports - Exports) / Gross domestic consumption

[Eurostat](https://ec.europa.eu/eurostat/web/energy/data/energy-balances)

In [1]:
import pandas as pd
import os
import pyxlsb
import numpy as np

## Bioenergy

In [2]:
def get_energy_dependency(file, column):
    trajectory = {}
    for year in range(2002,2019):
        df = pd.read_excel(
            file,
            engine='pyxlsb',
            sheet_name=str(year),
            skiprows=[0,1,2,3],
            index_col=1
            )
        imports = df.loc['Imports', column]
        exports = df.loc['Exports', column]
        consumption = df.loc['Gross inland consumption', column]
        energy_dependency = (imports - exports)/consumption
        trajectory[year] = energy_dependency
    return pd.Series(trajectory)

In [3]:
dependency = pd.DataFrame()

countries = ('CZ', 'AT', 'DK', 'NL', 'PL', 'SK')

for file in os.listdir('Energy-Balances-June-2020-edition'):
    if file.startswith(countries):
        data = get_energy_dependency('Energy-Balances-June-2020-edition/' + file, 'Bioenergy')
        dependency[f'{file[:2]}'] = data

In [4]:
dependency

            AT        NL        DK        SK        CZ        PL
2002 -0.002344 -0.074889  0.080602 -0.006294 -0.019729 -0.000458
2003 -0.028737 -0.114392  0.086022 -0.016159 -0.079935 -0.000658
2004 -0.052183 -0.021566  0.126475 -0.043027 -0.082543 -0.001240
2005 -0.007057  0.174812  0.176998 -0.099175 -0.105124 -0.017443
2006  0.079718  0.153329  0.162155 -0.061220 -0.120045 -0.018075
2007  0.068190  0.162606  0.168390 -0.037930 -0.111876 -0.002245
2008  0.055876  0.193771  0.204172 -0.142918 -0.093793  0.029388
2009  0.090154  0.134688  0.218144 -0.112637 -0.075996  0.035838
2010  0.072757  0.042199  0.269750 -0.090813 -0.054805  0.061702
2011  0.107367  0.095820  0.334321 -0.085318 -0.027223  0.064177
2012  0.086481 -0.084890  0.389522 -0.078080 -0.027580  0.016716
2013  0.100393 -0.288280  0.383048 -0.060670 -0.041146  0.001484
2014  0.091120 -0.438825  0.402036 -0.021152 -0.024758  0.071230
2015  0.078079 -0.407538  0.358410 -0.002087 -0.017787  0.018099
2016  0.053381 -0.350023  0.379573 -0.011650 -0.005336 -0.032536
2017  0.042707 -0.437115  0.422590 -0.001225  0.002886 -0.023345
2018  0.040016 -0.262803  0.412612 -0.005066 -0.016234  0.031993

In [5]:
dependency.to_csv(
    'dependency_bioenergy_2002_2018.csv',
    index_label='year',
    decimal=',',
    columns=countries,
    )

## Solid biomass

In [6]:
dependency = pd.DataFrame()

countries = ('CZ', 'AT', 'DK', 'NL', 'PL', 'SK')

for file in os.listdir('Energy-Balances-June-2020-edition'):
    if file.startswith(countries):
        data = get_energy_dependency('Energy-Balances-June-2020-edition/' + file, 'Primary solid biofuels')
        dependency[f'{file[:2]}'] = data

dependency

dependency.to_csv(
    'dependency_solid_2002_2018.csv',
    index_label='year',
    decimal=',',
    columns=countries,
    )

## Biofuels

In [7]:
def get_energy_dependency_agregate(file, start, end):
    trajectory = {}
    for year in range(2002,2019):
        df = pd.read_excel(
            file,
            engine='pyxlsb',
            sheet_name=str(year),
            skiprows=[0,1,2,3],
            index_col=1
            )
        imports = df.loc['Imports', start:end].sum()
        exports = df.loc['Exports', start:end].sum()
        consumption = df.loc['Gross inland consumption', start:end].sum()
        # print(imports,  '-', exports, '/', consumption)
        try:
            energy_dependency = (imports - exports)/consumption
        except ZeroDivisionError:
            energy_dependency = np.nan
        trajectory[year] = energy_dependency
    return pd.Series(trajectory)

# file = 'Energy-Balances-June-2020-edition/PL-Energy-balance-sheets-June-2020-edition.xlsb'
# get_energy_dependency_agregate(file, 'Pure biogasoline', 'Other liquid biofuels')

In [8]:
dependency = pd.DataFrame()

countries = ('CZ', 'AT', 'DK', 'NL', 'PL', 'SK')

for file in os.listdir('Energy-Balances-June-2020-edition'):
    if file.startswith(countries):
        data = get_energy_dependency_agregate('Energy-Balances-June-2020-edition/' + file, 'Pure biogasoline', 'Other liquid biofuels')
        dependency[f'{file[:2]}'] = data

dependency.to_csv(
    'dependency_biofuels_2002_2018.csv',
    index_label='year',
    decimal=',',
    columns=countries,
    )

dependency

            AT        NL        DK         SK         CZ        PL
2002  0.000000  1.000000  0.000000   0.000000  -0.428230       NaN
2003  0.000000  1.000000  0.000000   0.000000  -0.620569  0.000000
2004  0.000000  0.811853  0.000000 -11.000000  -1.369303  0.000000
2005  0.446320  0.800066  0.000000  -1.818234 -41.244436 -1.214591
2006  0.703432  0.703876  0.161831   0.073041  -4.298822 -0.711426
2007  0.438232  0.868737  0.213449   0.065041  -1.695810 -0.026927
2008  0.464858  0.946439  0.159678  -0.806161   0.079598  0.355058
2009  0.441763  0.337395  0.251364  -0.751189  -0.009970  0.343389
2010  0.419318 -0.670986  0.446697  -0.597971  -0.011126  0.492267
2011  0.525886 -0.217254  1.106361  -0.708424   0.276679  0.542317
2012  0.550870 -1.942430  0.955317  -0.698128   0.233787  0.184060
2013  0.540722 -3.336747  0.937835  -0.475667   0.152438  0.042693
2014  0.385142 -3.245991  0.902113  -0.110656   0.198868 -0.053756
2015  0.344969 -3.523786  0.942477  -0.030498   0.252069 -0.219456
2016  0.297507 -3.978682  0.923500  -0.125129   0.322709 -0.989961
2017  0.289686 -3.855865  1.033460  -0.067709   0.353052 -0.508039
2018  0.306154 -1.479919  0.968618  -0.132631   0.297009  0.028528

In [13]:
eu = pd.DataFrame()

In [14]:
eu['bioenergy'] = get_energy_dependency('Energy-Balances-June-2020-edition/EU28-Energy-balance-sheets-June-2020-edition.xlsb', 'Bioenergy')

In [15]:
eu['solid'] = get_energy_dependency('Energy-Balances-June-2020-edition/EU28-Energy-balance-sheets-June-2020-edition.xlsb', 'Primary solid biofuels')

In [16]:
eu['biofuels'] = get_energy_dependency_agregate('Energy-Balances-June-2020-edition/EU28-Energy-balance-sheets-June-2020-edition.xlsb', 'Pure biogasoline', 'Other liquid biofuels')

In [17]:
eu.to_csv(
    'dependency_eu28_2002_2018.csv',
    index_label='year',
    decimal=',',
    )

eu

      bioenergy     solid  biofuels
2002   0.009162  0.006780 -0.019503
2003   0.008199  0.004579  0.033948
2004   0.013662  0.011343  0.013512
2005   0.029114  0.019227  0.157384
2006   0.037069  0.024716  0.174918
2007   0.037380  0.023323  0.169789
2008   0.043495  0.021392  0.227264
2009   0.049830  0.028195  0.211406
2010   0.054869  0.033329  0.220957
2011   0.065281  0.033643  0.294026
2012   0.057783  0.027369  0.267778
2013   0.046849  0.037491  0.121589
2014   0.053491  0.049313  0.091236
2015   0.049960  0.043129  0.095858
2016   0.050604  0.046930  0.086482
2017   0.049412  0.047679  0.067171
2018   0.063924  0.053491  0.127205