# Bioenergy consumption for each fuel

Gross inland consumption from Eurostat energy balances

In [1]:
import pandas as pd
import os
import datetime

In [2]:
csv_input_dir = 'data'
csv_output_dir = datetime.datetime.today().strftime('%Y-%m-%d')

if not os.path.exists(csv_output_dir):
    os.mkdir(csv_output_dir)

df = pd.read_csv(os.path.join(os.path.abspath(csv_input_dir), 'eurostat_2002_2018_tj.csv'), decimal=',')

In [3]:
df

,country,year,fuel,primary_production,imports,exports,gross_inland_consumption,dependency
0,AT,2002,bioenergy,122271.893352,8231.248800,8517.123504,121985.976780,-0.002344
1,AT,2002,biofuels,851.888196,0.000000,0.000000,851.888196,0.000000
2,AT,2002,biogas,919.002600,0.000000,0.000000,919.002600,0.000000
3,AT,2002,ren_mun_waste,1970.015004,0.000000,0.000000,1970.015004,0.000000
4,AT,2002,renewables,271743.500376,6886.992924,7233.994908,271396.498392,-0.001279
...,...,...,...,...,...,...,...,...
709,SK,2018,biogas,6227.990604,0.000000,0.000000,6227.990604,0.000000
710,SK,2018,ren_mun_waste,628.982964,0.000000,0.000000,628.982964,0.000000
711,SK,2018,renewables,67550.961636,4738.787712,5814.711576,66205.659060,-0.016251
712,SK,2018,solid_biomass,37999.019988,134.982432,494.000532,37229.988564,-0.009643
713,SK,2018,total,251204.524956,642985.758468,188531.017848,713665.013328,0.636790

In [4]:
for country in ['CZ', 'AT', 'DK', 'NL', 'PL', 'SK']:
    label = country.lower()
    cdf = df.loc[df['country'] == country, ['country', 'year', 'fuel', 'gross_inland_consumption']].pivot_table(values='gross_inland_consumption', index='year', columns='fuel')
    cdf.to_csv(os.path.join(os.path.abspath(csv_output_dir), f'{label}_selected_fuels_consumption_tj.csv'), decimal=',')